Client Name: Brittney_p
Title:What Bee Natural Box is for you?
mail: contact@beenaturalbox.com
password : beenatural

Hair Quiz Questions

-Each questions contributes to a unique code each person will use at checkout-
*Pictures/wallpaper needed

Quiz Results: Moisture Box, Damage Control, Curl Enhancing, Growth/Length Retention

What state is your hair normally in? (Respective Code #)
Natural & Curly (Curl Enhancing)
Stretched/ Straightened (Moisture Box)
Protective Styles (Growth/Length Retention)
Color/Chemical Treatments (Damage Control)

What is your hair porosity
Low (L)
Medium (M)
High (H)
Don’t know (N)

What is your natural hair type?
Type 2 (2)
Type 3 (3)
Type 4 (4)

What is your biggest hair issue?

Retaining Length (Growth/Length Retention Box)
Frizz (Frizz Fighter Box)
Breakage (Damage Control Box)
Lack of definition (Curl Enhancing Box)


What is your main hair goal?
Moisture (Frizz Fighter Box)
Length Retention (Growth/Length Retention Box)
Curl Definition/ Volume (Curl Enhancing Box)
Recover from mechanical/ chemical damage (Damage control box)

Each question has to be mandatory